<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings> 
	<!-- Aquí colocaremos la conexión a nuestra base de datos en SQL -->
	<!--Agregaremos un nombre identificador, la propia cadena de conexion y el proveedor-->
		<add name ="NWConnection"
			 connectionString="Data Source=CC1PC10-11;Initial Catalog=Northwind;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
